# Web Framework
flask
flask-cors
gunicorn
flask-limiter
flask-mail

# PDF Processing
PyPDF2
pdf2image
fpdf
pytesseract
opencv-python-headless

# Data Processing
numpy
unidecode

# Cloud Services
google-cloud-storage
google-cloud-firestore  # Add this line - explicit Firestore dependency
google-api-python-client
PyPDF2  # Added PyPDF2 here
email-validator
google-auth

# Networking and Validation
requests

# Utilities
werkzeug