flask
fpdf
gunicorn
numpy
opencv-python-headless
pdf2image
pytesseract
unidecode
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
PyPDF2  # Added PyPDF2 here
email-validator
